* {
	padding: 0;
	margin: 0;	
}

body {
	font-family: Helvetica, sans-serif;
	font-size: 22px;
	line-height: 28px;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	padding: 28px;
}

a {
	word-wrap: break-word;
}

p {
	padding-bottom: 28px
}

.char {
	position: relative; 
	display: inline-block;
}

.word {
	display: inline-block;
}

